# Manage some `/dcb` files with lfs
/dcb/**/*.MOV filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.TIM filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.TIS filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.BIN filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.SEQ filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.VH filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.VB filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.A2D filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.bspatch filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.M3D filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.UN1 filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.UN2 filter=lfs diff=lfs merge=lfs -text
/dcb/**/*.png filter=lfs diff=lfs merge=lfs -text
/dcb/**/VSSVER.SCC filter=lfs diff=lfs merge=lfs -text

# Keep crlfs in all files in `/dcb`
/dcb/**/* -crlf